:root {
  --main-line-height: 1.5;
  --main-margin-bottom: 30px;

  /* #################INTRO############*/
  --intro-bg-color: black;
  --intro-purple: #7a5aec;
  --intro-dark-purple: rgb(37, 0, 124);
  --intro-light-purple: rgb(159, 107, 243);
  --intro-main-text-color: rgb(255, 255, 255);

  /* #################ABOUT############*/
  --about-shape-color: #7a5aec;
  --about-box-shadow-color: #7a5aec;
  --about-title-font-size: 3rem;
  --about-content-font-size: 1.2rem;
  --about-content-color: rgb(46, 46, 46);

  /* #################Transition############*/
  --transition-bg: #000;
  --transition-box-shadow: -15px -10px 0 #7a5aec;
  --transition-box-shadow-dark: -25px -20px 0 #513ca0;
  --transition-box-shadow-darker: -35px -30px 0 #231a44;
  --transition-title-background: #a48cfc;

  /* #################ProjectList############*/

  /* #################Project############*/

  /* #################Contact############*/
  --icon-color: #231a44;
}
